[Unit]
Description=Scraper Service
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=/path/to/deploy
ExecStart=/path/to/deploy/start

[Install]
WantedBy=multi-user.target
