# Ignore python environment
venv/

# Ignore data files in atb00ker
atb00ker/data/

#Ignore scraper's compiled files 
atb00ker/scrapeNews/scrapeNews/__pycache__/

#Ignore spiders' complied files
atb00ker/scrapeNews/scrapeNews/spiders/__pycache__/

