# Ignore python environment
venv/

# Ignore Environment Config File
scrapeNews/envConfig.py

#Ignore .pyc files
*.pyc

#ignore .log Files
*.log

#ignore any __pycache__
**/__pycache__/

#ignore .sh files
*.sh
