server {
    listen 5009;
    server_name {{ nginx_server_addr }};
    
    location /static {
        alias {{ deploy_base }}/web/web_app/static;
        autoindex on;
        expires max;
    }

    location /logfiles {
        alias {{ deploy_base }}/logs;
        autoindex on;
        
        location ~* \.log{
            add_header Content-Type text/plain;
        }
    }

    location / {
        include proxy_params;
        proxy_pass http://unix:/{{ deploy_base }}/app.sock;
    }
}