#!/bin/bash

########################################################################################
#                                                                                      #
# This Script Starts Scheuler, Scrapyd and Gunicorn Server                             #
#                                                                                      #
# P.S. File Permissions must be set to: u+r+w+x g+r+w+x o+r+x                          #
# Requires:                                                                            #
# - env.sh (Environment Variables Setter)                                              #
# - tmux                                                                               #
########################################################################################

deploy_path=/home/{{ user_name }}/deploy

cd "$deploy_path";

source $deploy_path/venv/bin/activate; source $deploy_path/env.sh; python scheduler.py &
source $deploy_path/venv/bin/activate; source $deploy_path/env.sh; scrapyd &
cd web; source $deploy_path/venv/bin/activate; source $deploy_path/env.sh; gunicorn --workers 3 --bind unix:$deploy_path/app.sock -u www-data -g www-data -m 007 web_app.wsgi:application &
