<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Spiders</title>
        <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css')}}">
        <link rel='stylesheet' href="{{ url_for('static',filename='css/bootstrap.min.css')}}">
        <link rel='stylesheet' href="{{ url_for('static',filename='css/bootstrap-theme.min.css')}}">
    </head>
    <body>
        <div class="absolute-center">
          <h1 align='center'>Statistics table</h1>
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th style='text-align: center'>Spider Number</th>
                <th style='text-align: center'>Spider Name</th>
                <th style='text-align: center'>Records</th>
                <th style='text-align: center'>Site link</th>
              </tr>
            </thead>
            <tbody>
                {% for stat in statistics %}
                <tr>
                    <td align="center"> {{ stat[0] }} </td>
                    <td> {{ stat[1] }} </td>
                    <td align="center"> {{ stat[2] }} </td>
                    <td><a link='{{ stat[3] }}'>{{ stat[3] }}</a></td>
                </tr>
                {% endfor %}
            </tbody>
          </table>
        </div>
    </body>
</html>
